/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*{
    /* border: 1px solid black; */
    box-sizing: border-box;
    /* border: 1px solid grey; */
    max-width: 100%;
}

/* font-family: 'Chelsea Market', cursive; */
/* font-family: 'Roboto Mono', monospace; */

/* General Styles */
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 5rem;
    line-height: 2.5;
}
h2{
    font-size: 2rem;
    line-height: 2.5;
}
section{
    padding: 4% 0;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
/* nav styles */
nav{
    padding:2% 0;
    margin: 0 12%;
}
nav a{
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 1% 2%;
    color: #FFFFFF;
    margin: 0 12%
}
/* top section styles */
.left{
    display: inline-block;
    width: 20%;
    
}
.imgContainer{
    text-align: center;
}
.imgContainer img{
    border-radius: 50%;
    width: 80%;
}
.right{
    display: inline-block;
    width: 50%;
    text-align: center;
    position: relative;
    top:-50px; 
    left:300px;
}
.text{
    width: 80%;
    text-align: center; 
} 
.text p{
    font-size: 2rem;
    width: 50%;
    margin: auto;
}
/* info section styles */
.info{
    background-color:#DDB9A3;
    padding: 2%;
    
}
.info p{
    font-size: 2rem;
    margin: 2% 0;
    color: #FFFFFF;
}

/* visit info style */
.campfire img{
    width: 25%;
}

.campfire{
    text-align: center;
    width: 25%;
    margin: 0 auto;
    padding: 2% 0;
}

.camper img{
    width: 25%;
}
.camper{
    text-align: center;
    width: 25%;
    margin: 0 auto;
}
.bold{
    font-weight: bold;
}
/* hero image section */

.hero-image{
    width:100%;
    height:45vh;
    background-image:url('assets/footer_img.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

/* footer styles */
footer{
    background-color:#F9E7DC;
}
.plan{
    background-color:#FF764E ;
}
.learn{
    background-color:#5ED3EB ;
}
.get{
    background-color:#FFCD69 ;
}